<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% block stylesheets %}{% endblock %}
</head>
<body>

<div class="container">

    <header style="background-color: #5eb5e0">
        {% if app.user %}
            <p> Вы авторизованы! </p>
        {% else %}
            <p><a href="{{ path('auth') }}">Авторизоваться</a></p>
        {% endif %}
    </header>
    {% block body %}


    {% endblock %}
    </div>
{% block javascripts %}{% endblock %}
</body>
</html>
