{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="jumbotron" style="text-align: center">

    <p><a href="{{ path('app-sign-up') }}">Регистрация</a></p>
    <p><a href="{{ path('auth') }}">Авторизация</a></p>


    {% if error %}
        <h4>Ошибка API: {{ error }} </h4>
    {% endif %}

    {% if json %}
    <h2>10 статей</h2>
    {% for id in json %}
    <div class="data">
        <img class="card-img-top" style="width: 300px" src="{{ id.data.thumbnail }}">
        <div class="card-body">
            <h5 class="card-title"><b>Описание:</b> {{ id.data.title }} <br>
                <b> Автор:</b> {{ id.data.author }} <br>
                <b> Дата публикации:</b> {{ id.data.date }}</time></h5>
            {% if app.user %}
                <p><a href="{{ path('favorite',{'id': id.data.name}) }}">Добавить в избранное</a></p>

            {% endif %}
        </div>

        {% endfor %}
        {% endif %}

    </div>
{% endblock %}