{% extends 'base.html.twig' %}

{% block body %}

    <div class="jumbotron" style="text-align: center">

              <h4><b>Ваш Логин:</b> {{ user.email }}</h4>
        {% if error %}
            <h4>Ошибка API: {{ error }} </h4>
        {% endif %}

        {% if json %}
        <h4>Избранные статьи</h4>
        {% for id in json %}
        <div class="data">
            <img class="card-img-top" style="width: 300px" src="{{ id.data.thumbnail }}">
            <div class="card-body">
                <h5 class="card-title"><b>Описание:</b> {{ id.data.title }} <br>
                    <b> Автор:</b> {{ id.data.author }} <br>

            </div>

            {% endfor %}
            {% else %}

                <h4>У вас нет избранных статей</h4>


            {% endif %}


    </div>

{% endblock %}

{% block title %}Профиль

{% endblock %}

