{% extends 'base.html.twig' %}

{% block body %}

    <div class="jumbotron" style="text-align: center">

                {{ form(form) }}


    </div>

{% endblock %}

{% block title %}

{% endblock %}

