{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron" style="text-align: center">
    <h1>Поздравляем,вы успешно зарегистриловалиь!</h1>
    <p><a href="{{ path('auth') }}">Авторизоваться</a></p>

</div>

{% endblock %}

{% block title %}Welcome{% endblock %}

